@{
    ViewBag.Title = "NotFound";
}

<header>
    <h2>MailMessage Not Found</h2>
</header>
<div class="message">
    <p>The mailmessage do not exist or has been removed.</p>
</div>
@Html.ActionLink("Tillbaka till startsidan", "Index")
